//first-contents(serch-form)
.first-contents{
  min-width: 1000px;
  .video-wrap{
    .video{
    }
    .input-form{
      position: absolute;
      bottom: 70px;
      right: 70px;
        input{
          height: 45px;
          width: 55px;
          background-color: gray;
          opacity: 0.5;
        }
    }
  }
  .top-contents{
    position: absolute;
    top:0;
    left:0;
    height: 60px;
    width: 100%;
    min-width: 1000px;
    background-color: black;
    background: rgba(0,0,0,0);
    .logo{
      float:left;
      margin-left: 10%;
      font-size: 20px;
      color: white;
      line-height: 60px;
      font-family: monospace;
    }
    .user-menu{
      float: left;
      margin-left: 300px;
      font-size: 12px;
      line-height: 60px;
      li{
        display: inline;
        margin-right: 14px;
      }
      a{
        color: white;
        text-decoration: none;
      }
      a:hover{
        color: orange;
        text-decoration: underline;
      }
    }
  }
  .catch{
    position: absolute;
    top: 200px;
    width: 100%;
    min-width: 1000px;
    text-align: center;
    .catch-phrase{
      color: white;
      font-size: 60px;
    }
    .phrase{
      color: white;
      font-size: 20px;
    }
  }
  .serch-form{
    position: absolute;
    top: 400px;
    left: 150px;
    font-size: 30px;
    color: white;
    .back-color{
      height: 100px;
      width: 1000px;
      background-color: rgba(255,255,255,0.3);
      -webkit-border-radius: 5px;
      .form{
        width: 100%;
        padding: 10px 25px 0 25px;
        .text-form{
          float: left;
          width: 850px;
          height: 76px;
        }
        .button-form{
          float: left;
          width: 100px;
          height: 80px;
          line-height: 80px;
          background-color: orange;
          text-align: center;
        }
      }
    }
  }

}
.information{
  min-width: 1000px;
  height: 70px;
  .back-color{
    height: 50px;
    width: 1000px;
    margin: 50px auto;
    background-color: papayawhip;
    strong{
      padding-left: 2em;
      line-height: 50px;
      font-size: 0.7em;
      font-weight: bold;
    }
    a{
      padding-left: 2em;
      font-size: 0.7em;
      color: cornflowerblue;
      text-decoration: none;
    }
    a:hover{
      color: orange;
      text-decoration: underline;

    }
  }
}

