//first-contents(serch-form)
.first-contents{
  min-width: 1000px;
  .video-wrap{
    .video{
    }
    .input-form{
      position: absolute;
      bottom: 70px;
      right: 70px;
        input{
          height: 45px;
          width: 55px;
          background-color: gray;
          opacity: 0.5;
        }
    }
  }
  .logo{
    position: absolute;
    top: 0px;
    font-size: 30px;
    color: white;
    line-height: 60px;
    font-family: monospace;
  }
  .catch-phrase{
    color: white;
    position: absolute;
    top: 200px;
    font-size: 60px
  }
  .serch-form{
    position: absolute;
    top: 300px;
    font-size: 30px;
    color: white;
  }

}
.information{
}

