.head
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"}
  %script src="javascripts/products.js"

.first-contents
  .video-wrap
    %video{src: 'videos/steak.mp4', autoplay: true, loop: true, id: 'video', width: '100%'}
    .input-form
      %input{type: "button", id: "play-button", value: "PLAY"}
  .log
    %p 食べログ
  .user-menu
    %strong 食べログの特徴と便利な使い方
    %strong 無料会員登録
    %strong 保有Tポイント
    %strong 予約確認
    %strong 行った・行きたい
    %strong ログイン

  %p.catch-phrase おいしいを見つけよう
  %p.serch-form 検索


.information
  %p お知らせ：おなかをすかせて

